<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak="true">
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration Form!</h1>
        <form name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                    </div>
                    <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="yourpassword" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (@#$), alphanumeric and both uppercase & lowercase.
                        </div>
                    </div>
            </div>
           <!-- <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" placeholder="something secret" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                    <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                            </div>
                            <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                    <span class="glyphicon glyphicon-alert"></span> Password do not match
                            </div>
                    </div>
            </div>-->
            <div class="form-group">
                    <label for="fullName">Name</label> 
                    <input id="fullName" name="fullName" type="text" placeholder="Adam Smith" class="form-control" ng-model="ctrl.user.fullName" ng-keypress="ctrl.user.newfullName = ctrl.user.fullName.toUpperCase()"/>
                    <br/>
                    <label for="fullName">Name (CAPS)</label> 
                    <input id="newfullName" name="newfullName" type="text" placeholder="Adam Smith" class="form-control" ng-model="ctrl.user.newfullName"/>
                    <div class="validation" data-ng-show="ctrl.registrationform.newfullName.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.newfullName.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required
                        </div>
                    </div>
                </div>
            <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M"/>Male
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" ng-checked=""/>Female
                    <!-- <div class="validation"  data-ng-show="ctrl.user.gender == 'M' || ctrl.registrationform.gender.$untouched && ctrl.onlyFemale() == false" >
                            <span class="glyphicon glyphicon-alert"></span> Female Only
                    </div> -->
                    <div class="validation" data-ng-show="ctrl.registrationform.gender.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.gender.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Gender Type is required
                       </div>
                   </div>

            </div>

            <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" ng-model="ctrl.user.dob" class="form-control"/>
                    <div class="validation" data-ng-show="ctrl.registrationform.dob.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.dob.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Date of Birth is required
                       </div>
                   </div>
                   <div class= "display">Must be above 18 </div> 
            </div>

            <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" ng-model="ctrl.user.address" class="form-control"/>
                    <div class="validation" data-ng-show="ctrl.registrationform.address.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.address.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Country of Origin is required
                    </div>
            </div>

            <div class="form-group">
                    <label for="nationality">Country</label>
                    <select ng-model="ctrl.user.selectedNationality" class="form-control" id="nationality">
                        <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
                    </select>
                    <div class="validation" data-ng-show="ctrl.registrationform.selectedNationality.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.selectedNationality.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Country of Origin is required
                    </div>
            </div>
            
            <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input id="contactNumber" name="contactNumber" type="number" class="form-control" ng-model="ctrl.user.contactNumber" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                            </div>
                            <div data-ng-show="ctrl.registrationform.contactNumber.$error.number">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid (e.g +-()384757473)
                            </div>
                    </div>
            </div>

            <div class="form-group">
                <hr/>
                <input id="submit" name"submit" type="submit" class="btn btn-success" />
                <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
            </div>
                
        </form>

    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- <script src="/js/app.js"></script> -->
    <!-- refactor app.js to app.module.js and app.controller.js -->
    <script src="/app/app.module.js"></script>
    <script src="/app/app.controller.js"></script>
    
</body>

</html>